<!-- <div class="section section_theme-gray"> -->
  <div class="container" data-tabs role="tablist">
    <br />
    <h2 class="heading heading_xl">Where you can buy Bitcoin: </h2>
      <!-- <h3 class="separator heading heading_md">
        <span class="heading__link active" data-tabs-toggle role="tab">Featured</span>
        <span class="heading__link" data-tabs-toggle role="tab">Latest</span>
      </h3> -->
      <br />
    <div class="tab-content">
      <div class="tile__list tabs__item active" id="featured" data-tabs-panel data-resource-slider role="tabpanel">
        {{#each model as |siteUnit|}}
          {{site-listing site=siteUnit}}
        {{/each}}
      </div>
    </div>
  </div>
<!-- </div> -->
