<div class="container">
  <div class="right tomster"></div>
  <h2 class="heading heading_xl">About Bitcoin Buy Guide</h2>
  <p>
    If you're ready to jump into Bitcoin, you've come to the right place. Bitcoin Buy Guide is the most comprehensive resource for finding Bitcoin exchanges and buying bitcoin.
    <br />We believe Bitcoin will improve and impact the world even more than the internet.
  </p>
  Donations always appreciated: <a href="https://walletlist.me/@Shib">https://walletlist.me/@Shib</a>
</div>
